{% extends 'base.html' %}

{% block title %}Change Password - PeerMingle{% endblock %}

{% block content %}
<div class="first-login-page">
    <h2>Change Your Initial Password</h2>
    {% if first_time %}
    <p class="first-login-message">This is your first time logging in. Please change your password.</p>
    {% endif %}
    <form class="password-form" method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <div class="input-group">
            <label for="{{ form.old_password.id_for_label }}">Current Password:</label>
            {{ form.old_password }}
            <div class="error">{{ form.old_password.errors }}</div>
        </div>
        <div class="input-group">
            <label for="{{ form.new_password1.id_for_label }}">New Password:</label>
            {{ form.new_password1 }}
            <div class="error">{{ form.new_password1.errors }}</div>
        </div>
        <div class="input-group">
            <label for="{{ form.new_password2.id_for_label }}">Confirm New Password:</label>
            {{ form.new_password2 }}
            <div class="error">{{ form.new_password2.errors }}</div>
        </div>
        {{ form.password_instructions }}
        <button type="submit" class="change-password-button">Change Password</button>
    </form>
</div>
{% endblock %}