{% extends 'base.html' %}

{% block content %}
<h1>{{ assignment.name }}</h1>
<h3>
    {{ assignment.due_date|date:"F d, Y" }}
    {% if extension_granted %}
    <br><span style="color: red;">(Extensions till {{ last_date|date:"F d, Y" }})</span>
    {% endif %}
</h3>

<table style="width: 100%;">
    <tr>
        <th scope="col"><h3>Number</h3></th>
        <th scope="col"><h3>Student</h3></th>
        <th scope="col"><h3>Status</h3></th>
    </tr>
    <!-- add some vertical space -->
    <tr>
        <td colspan="3">&nbsp;</td>
    </tr>
    {% for submission in submissions %}
    <tr>
        <td style="text-align: center;">{{ submission.number }}.</td>
        <td style="text-align: center;"><a href="{% url 'ta_view' submission.id %}">{{ submission.student.first_name }} {{ submission.student.last_name }}</a></td>
        <td style="text-align: center;">{{ submission.status }}</td>
    </tr>
    <tr>
        <td colspan="1">&nbsp;</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
